{require_otp_vsn, "R14B0[234]"}.
{cover_enabled, true}.
{lib_dirs, ["deps"]}.

{deps, [
    {webmachine, ".*",
        {git, "git://github.com/basho/webmachine", {branch, "master"}}},

    {spooky, ".*",
        {git, "git://github.com/flashingpumpkin/spooky.git", {branch, "master"}}},

    {protobuffs, "0.6.*",
        {git, "git://github.com/basho/erlang_protobuffs", {tag, "protobuffs-0.6.0"}}},

    {ernie_server, "2.5.*",
        {git, "git://github.com/rustyio/ernie", {tag, "v2.5.2"}}}
]}.
