%% RPC Demo - Basho Bench Configuration File
%% Usage: ./basho_bench rpc_demo.config

%% To test with a network hop:

%% # Route local port 8001
%% ssh -vN \
%%   -L 7001:127.0.0.1:8001 -R 8001:127.0.0.1:8001 \
%%   -L 7002:127.0.0.1:8002 -R 8002:127.0.0.1:8002 \
%%   -L 7003:127.0.0.1:8003 -R 8003:127.0.0.1:8003 \
%%   -L 7999:127.0.0.1:9999 -R 9999:127.0.0.1:9999 \
%%   rusty@rusty.io

{driver,
    rpc_demo_basho_bench_driver}.

{operations, [
    {webmachine_sequence, 1},
    {spooky_sequence, 1},
    {bert_sequence, 1},
    {pb_sequence, 1},
    {pb_reuse_sequence, 1}
]}.

{measurement_driver,
    basho_bench_measurement_erlangvm}.

{measurements, [
    {memory, 1000},
    {cpu, 1000},
    {processes, 1000},
    {filehandles, 1000}
]}.

%%% LOAD SETTINGS %%%

{mode, {rate, 50}}.
{duration, 5}.
{concurrent, 1}.

%%% DATA SHAPE %%%

{n, 10000}.

{webmachine_host, "127.0.0.1"}.
{webmachine_port, 7001}.

{spooky_host, "127.0.0.1"}.
{spooky_port, 7002}.

{bert_host, "127.0.0.1"}.
{bert_port, 7999}.

{pb_host, "127.0.0.1"}.
{pb_port, 7003}.

{key_generator, {uniform_int, 1000}}.
{value_generator, {fixed_bin, 1000}}.

{rng_seed, {1, 2, 3}}.

%%% MEASUREMENT SETTINGS %%%

{nodes, ['rpc_demo@127.0.0.1']}.
{cookie, rpc_demo}.

%%% CODE PATHS %%%

{code_paths, ["deps/stats",
              "deps/riakc",
              "deps/protobuffs",
              "/Users/rusty/Documents/Code/RPCDemo/ebin",
              "/Users/rusty/Documents/Code/RPCDemo/deps/mochiweb",
              "/Users/rusty/Documents/Code/RPCDemo/deps/ernie_server"
              ]}.
